@import 'colors.css';
@import 'screens.css';

.container {
  border-bottom: 1px solid var(--color-fine-grey);
}

.languages-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
  color: var(--color-mid-grey);
}

.language {
  padding: 5px 15px;
}

@media (--desktop) {
  .container {
    padding: 20px;
    width: 47%;
    border-top: 1px solid var(--color-light-grey);
    border-bottom: none;
  }
  .language {
    padding: 10px 15px;
    font-size: 1rem;
    margin: 10px 20px 10px 0;
    background: var(--color-light-grey);
    border-radius: 5px;
    color: var(--color-dark-grey);
  }
}
