@import 'colors.css';
@import 'variables.css';
@import 'button.css';
@import 'input.css';
@import 'screens.css';

.heading {
  background: var(--header-gradient);
  color: white;
  fill: white;

  @nest &::after {
    content: none;
  }
}

.spinner-container {
  display: flex;
}

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
  width: 100%;
}

.inner-container {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
}

.top-text {
  text-align: center;
  font-size: 1.3125rem;
  margin: 0 0 10px;
}

.second-text {
  margin: 0 0 40px;
  text-align: center;
  width: 100%;
  color: var(--color-mid-grey);
}

.input-container {
  margin: 0 0 40px;
  width: 100%;
}

.label {
  font-size: .9375rem;
}

.input {
  max-width: 350px;
  border-bottom: 1px solid var(--color-light-grey);
  border-radius: 0;
  color: var(--color-dark-grey);
  width: 100%;
  font-size: 1.4375rem;
  padding: .625em 0 .313em;
}

.button {
  min-width: 150px;
  max-width: 150px;
  min-height: 60px;
  padding: 0.625em;
  background-color: var(--color-pelorous);
  color: var(--color-white);
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  margin: 0 0 150px;
}

.faded {
  background-color: var(--color-pelorous-25);
  color: var(--color-white);
}

.spinner {
  fill: var(--color-white);
}

.input-spinner {
  fill: var(--color-white);
  height: 40px;
  width: 40px;

}
.input-overlay {
  background: var(--color-white-25);
}

.dart {
  fill: var(--color-pelorous);
  min-height: 6.25em;
  max-height: 6.25em;
  width: 120px;
}

@media (--desktop) {
  .spinner-container {
    width: 550px;
    height: 405px;
    padding: 20px 0 10px;
  }
  .container {
    color: var(--color-dark-grey);
    padding: 0 40px;
  }
  .top-text {
    font-size: 27px;
    margin: 0 0 20px;
  }
  .second-text {
    margin: 0 0 60px;
  }
  .label {
    display: block;
    margin: 0 0 15px;
    color: var(--color-mid-grey);
  }
  .input-container {
    margin: 0 0 40px;
  }
  .button {
    min-width: 115px;
    max-width: 115px;
    min-height: 60px;
    margin-bottom: 0.625em;
    padding: 0.625em;
    font-size: 16px;
  }
  .faded {
    background: var(--color-fine-grey);
  }
  .dart {
    fill: var(--color-pelorous);
    min-height: 130px;
    max-height: 130px;
    width: 130px;
    margin: 0 0 20px;
  }
}

@media (max-width: 320px) {
  .input {
    max-width: 300px;
  }
}
