@import 'screens.css';

.container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  background: rgba(0,0,0,0.16);
  width: 100vw;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  z-index: 999;
}

.content {
  margin: 0 auto;
  width: 100%;
  height: calc(100% - 70px);
  min-height: 390px;
  max-width: var(--max-content-width);
}

.app {
  @nest &>div:nth-child(2) {
    overflow: hidden;
  }
}

@media (--desktop) {
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
