@import 'colors.css';
@import 'variables.css';

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-white);
  box-shadow: 0 3px 6px var(--box-shadow-16);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 0.8823rem;
}

.heading {
  font-size: var(--font-large);
  font-weight: var(--light-font);
  text-align: center;
  margin: 0 0 1.7647rem;
  width: 100%;
}

.text {
  margin: 0 0 3.5294rem;
}

.email {
  font-weight: var(--medium-font);
  margin: 0 5px;
}

.label {
  font-size: var(--font-small);
  color: var(--color-mid-grey);
}

.input {
  composes: input from "../../../../styles/input.css";
  font-size: var(--font-medium);
  width: 100%;
}

.forgot-password-container {
  width: 100%;
  text-align: right;
  padding: 10px 0;
}

.forgot-password {
  composes: button from "../../../../styles/button.css";
  border: none;
  padding: 0;
  color: var(--color-mid-grey);
  font-weight: var(--medium-font);
  font-size: 1rem;
}

.cta-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 15px;
}

.cta {
  margin: 0 15px 0 0;
}

.secondary-cta {
  composes: button from "../../../../styles/button.css";
  color: var(--color-pelorous);
  font-size: 1rem;
  border: none;
  padding: 0;
  width: 55%;
  text-align: left;
}
