@import 'colors.css';
@import 'variables.css';
@import 'screens.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feeling-form {
  position: relative;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-size: 0.875em;
  width: 100%;
  padding: 0 40px;
  margin: 40px 0;
}

.textarea {
  color: var(--color-dark-grey);
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-light-grey);
  border-radius: 0;
  appearance: none;
  font-size: var(--font-medium);
  font-weight: var(--light-font);
  resize: none;
  @nest &::placeholder {
    color: var(--color-light-grey);
  }
}

.count-bar, .length-counter {
  display: none;
}

@media (--desktop) {
  .feeling-form {
    width: 90%;
    padding: 0;
    margin: 40px 0 0;
  }
  .textarea {
    min-height: 30px;
    font-size: 20px;
    padding: 0 0 20px;
  }
  .count-bar {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    border-bottom: 1px solid var(--color-pelorous);
  }
  .red-border {
    border-bottom: 1px solid var(--color-red);
  }
  .length-counter {
    display: block;
    width: 90%;
    margin: 10px;
    font-size: 12px;
  }
  .length {
    color: var(--color-pelorous);
  }
  .red-color {
    color: var(--color-red);
  }
}

@media(max-width: 320px) {
  .feeling-form {
    width: 90%;
    padding: 0 5px;
  }
}
