@import 'colors.css';
@import 'screens.css';
@import 'variables.css';

.app {
  background: var(--background-gradient);
  min-height: 450px;
}
.container {
  display: flex;
  margin: 0 30px 30px 30px;
  width: auto;
  position: relative;
  color: var(--color-white);
}
.inner-container {
  display: flex;
  flex-grow: 1;
}

.heading {
  color: var(--color-white);
  fill: var(--color-white);
  background: transparent;

  @nest &::after {
    display: none;
  }
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.top-text {
  font-size: var(--font-large);
  margin: 0 0 15px;
  font-weight: var(--medium-font);
}
.body-text {
  margin-bottom: 35px;
}

.button-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  margin-top: auto;
  align-self: flex-end;
}

.button-text {
  text-transform: capitalize;
}

.success-message {
  margin: 5rem 0 0 0;
  text-align: center;
}

.tick {
  fill: var(--color-white);
  height: 100px;
  min-height: 50px;
  width: 80px;
}

@media (--desktop) {
  .hidden {
    display: none;
  }

  .app {

  @nest &>div:nth-child(2) {
    background: var(--color-fine-grey);
    position: relative;
  }
}

.container {
  background-color: var(--color-fine-grey);
  position: static;
  fill: var(--color-pelorous);
}

.desktop-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 265px;
  background: var(--background-gradient);
  text-align: center;
  padding: 60px 0;
}

.logo {
  fill: var(--color-white);
  width: 120px;
}

.inner-container {
  position: relative;
  z-index: 2;
  display: flex;
  width: 630px;
  height: 485px;
  background-color: var(--color-white);
  margin: 180px auto;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--box-shadow-16);
  padding: 60px 70px;
}

.form {
  color: var(--color-dark-grey);
  width: 100%;
}

.top-text {
  font-size: 27px;
  text-align: center;
  margin: 0 0 30px;
}

.button {
  composes: button from "../styles/button.css";
  color: var(--color-white);
  font-size: 1rem;
  border: none;
  margin: 40px 0 0;
  padding: 10px 30px;
  border-radius: 4px;
  outline: none;
  background-color: var(--color-pelorous-25);
  min-height: 60px;
  min-width: 200px;
  max-width: 200px;
  align-self: center;
}

.button-text {
  font-size: 16px;
}
.active {
  background-color: var(--color-pelorous);
}

.tick {
  fill: var(--color-pelorous);
  height: 100px;
  min-height: 50px;
  width: 80px;
}

}
