@import 'colors.css';
@import 'screens.css';

.container {
  display: flex;
  flex-grow: 1;
  transition: 1s all;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-gif {
  min-width: 16rem;
  min-height: 16rem;
  max-width: 16rem;
  max-height: 16rem;
  transition: 1.5s all ease-out .5s;
  @nest &.gif-busy {
    min-width: 9.41rem;
    max-width: 9.41rem;
    min-height: 9.41rem;
    max-height: 9.41rem;
    margin: 25px;
  }
}

@media (--smallerThanIphone6) {
  .container {
    @nest &.container-busy {
      margin: 5px 0 0;
    }
  }
}
