@import 'colors.css';

.container {
  padding: 0 .625em 10px;
  background: var(--color-white);
  margin: 15px 15px 0px 15px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 0px var(--box-shadow-16);
}

.container:last-child {
  margin-bottom: 15px;
}
