@import 'colors.css';
@import 'variables.css';

.container {
  position: relative;
  font-size: var(--font-small);
}
.past-container {
  padding: 0 0 0.8823rem;
  border-bottom: 1px solid var(--color-grey-2);
}

.open-container {
  padding: 0.8823rem;
  width: 100%;
}

.date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--font-tiny);
}

.section-title {
  width: 100%;
  margin: 0 0 1.1764rem;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 2.3529em 0 0;
  padding: 0.8823rem 0 0 0.8823rem;
  border-top: 1px solid var(--color-grey-2);
}

.pickup-details {
  margin: 0.8823rem 0 0;
}

.place {
  font-size: 1rem;
  font-weight: var(--thin-font);
  margin: 0 0 10px;
}

.contact {
  font-weight: var(--thin-font);
}

.price-time {
  display: flex;
  justify-content: space-between;
  font-weight: var(--thin-font);
  margin: 0 0 0.8823rem;
}

.discount {
  composes: price-time;
  color: var(--color-red);
}

.total-payment {
  composes: price-time;
  border-top: 3px solid var(--color-gold);
  margin: 0.2941rem 0 0;
  padding: 1.1764rem 0 0.8823rem;
}
