@import 'colors.css';

.appointment-container {
  min-width: 415px;
  max-width: 415px;
  min-height: 700px;
  background: var(--background-gradient);
  padding: 40px 10px;
  font-size: 20px;
}

.logo {
  fill: var(--color-white);
  width: 130px;
  height: 50px;
  margin: 20px auto;
  display: block;
}

.doctor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
  padding: 20px;
  margin: 0 0 20px;
}
.doctor-img {
  min-width: 115px;
  max-width: 115px;
  min-height: 115px;
  max-height: 115px;
  border-radius: 50%;
  margin: 0 0 20px;
}

.details-container {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  margin: 0 40px;
  border-top: 1px solid var(--color-white-40);
  border-bottom: 1px solid var(--color-white-40);
  color: var(--color-white);
}
.practice-name {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px 0;
}

.time {
  margin: 12px 0;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  text-transform: lowercase;
}
.date {
  composes: time;
  text-transform: capitalize;
}

.icon {
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
  fill: var(--color-white);
  margin: 0 20px 0 0;
}
.pin {
  composes: icon;
  padding: 1px;
  min-height: 26px;
  max-height: 26px;
  fill: none;
  stroke: var(--color-white);
  stroke-width: 2px;
}
.line {
  display: none;
}
