@import 'colors.css';
@import 'variables.css';
@import 'screens.css';

:root {
  --header-background-color: var(--header-gradient);
  --header-foreground-color: var(--color-white);
}

.header-container {
  background: var(--header-background-color);
  color: var(--header-foreground-color);
  fill: var(--header-foreground-color);
  stroke: var(--header-foreground-color);
  width: 100%;
  min-height: var(--header-height);
  @nest &::after {
    content: "";
    display: block;
    height: 65px;
    width: 100%;
    position: absolute;
    left: 0;
    /*z-index: -1;*/
    background: var(--header-gradient);
    box-shadow: 0 3px 6px var(--box-shadow-16);
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 15px;
  width: 100%;
  height: var(--header-height);
  min-height: var(--header-height);
}

.second-line {
  width: 100%;
  max-width: var(--max-content-width);
}

.back-arrow {
  min-width: 23px;
  width: 23px;
  height: 23px;
  cursor: pointer;
  transform: rotate(180deg);
  position: absolute;
  top: 18px;
  left: 15px;
}
.menu {
  display: none;
}

.help {
  position: absolute;
  right: 15px;
  font-size: .75em;
  cursor: pointer;
}
.messages-icon {
  width: 25px;
  height: 16px;
}


.container {
  display: flex;
  justify-content: center;
  font-size: var(--font-medium);
  width: 100%;
}


.hr {
  width: 40px;
  height: 1px;
  border: 0;
  background: white;
}


@media (--desktop) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @nest &::after {
      top: 140px;
    }
  }
  .header {
    /*width: 80%;
    max-width: var(--max-content-width);*/
    max-width: 100vw;
    padding: 0;
  }
  .logo {
    width: 100px;
  }
}
