@import 'colors.css';

.header {
  background: var(--background-gradient);
  fill: var(--color-white);
  transition: all 1s;
  overflow: hidden;
}

.banner {
  min-height: 150px;
  height: 150px;
  padding: 0;
  position: relative;
}

.enter {
  /*top: -150px;*/
  opacity: 0;
  transition: all 1s;
}
.enter-active {
  /*top: 0;*/
  opacity: 1;
}
.leave {
  /*top: 0;*/
  opacity: 1;
  transition: all .7s;
}
.leave-active {
  /*top: -150px;*/
  opacity: 0;
}
.no-transition {
  transition: none;
}
