@import 'colors.css';
@import 'variables.css';
@import 'screens.css';

:root {
  --menu-color: var(--color-white);
}

.container {
  flex-grow: 1;
  padding: 1em 6.25vw;
  min-height: 300px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.button {
  composes: button from "../../../../styles/button.css";
  border: none;
  color: var(--menu-color);
  font-size: 1.25em;
  display: flex;
  align-items: center;
  border-radius: 0;
  margin: 0 5px;
  width: calc(100% - 10px);
}

.button-text {
  padding: 15px 0 20px;
  text-transform: capitalize;
  width: 100%;
  font-size: var(--font-medium);
}

.icon-container {
  text-align: center;
  min-width: 40px;
  margin: 0 6.25vw 0 0;
}

.icon {
  fill: var(--menu-color);
}

.dependantsIcon {
  fill: var(--menu-color);
  width: 30px;
  height: 24px;
}
.practicesIcon {
  fill: var(--menu-color);
  width: 15px;
  height: 20px;
}
.supportIcon {
  fill: var(--menu-color);
  width: 24px;
  height: 24px;
}
.logoutIcon {
  fill: var(--menu-color);
  width: 20px;
  height: 20px;
}

@media (--desktop) {
  .container {
    padding: 1em 15px;
  }

  .button-text {
    font-size: 15px;
  }

  .icon-container {
    margin: 0 15px 0 0;
  }
}
