@import 'colors.css';
@import 'variables.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feeling-form {
  position: relative;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-size: 0.875em;
  width: 100%;
  margin: 40px 0;
}

.textarea {
  color: var(--color-dark-grey);
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-light-grey);
  border-radius: 0;
  appearance: none;
  font-size: 1rem;
  font-weight: var(--light-font);
  resize: none;
  padding-bottom: 10px;
  @nest &::placeholder {
    color: var(--color-light-grey);
  }
}
