@import "colors.css";
@import "variables.css";
@import "screens.css";

.container {
  background: var(--color-fine-grey);
  border-radius: 32px;
  display: flex;
  width: 260px;
  height: 65px;
  cursor: pointer;
  font-weight: var(--light-font);
  color: var(--color-dark-grey);
  position: relative;
  justify-content: center;
  align-items: center;
}

@media (--desktop) {
  .container {
    font-size: 1rem;
    padding: 20px;
    color: var(--color-mid-grey);
  }
}
