@import 'colors.css';

.container {
  transition: 1s all;
  width: 235px;
  height: 100%;
  background: var(--color-white-25);
  border-radius: 4px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  margin: 0 20px 0 0;

  @nest &:hover {
    background-color: var(--color-white-50);
  }

  @nest &>div>.arrow {
    width: 15px;
    height: 15px;
    transform: rotate(90deg);
    fill: var(--color-white);
  }
}
.shown {
  transition: .5s all;
  background: var(--color-white);
  color: var(--color-pelorous);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  @nest &:hover {
    background: var(--color-white);
  }

  @nest &>div>.arrow {
    transform: rotate(270deg);
    fill: var(--color-pelorous);
  }
}

.current-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  text-transform: capitalize;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  background: var(--color-white);
  border-top: 1px solid var(--color-fine-grey);
  box-shadow: 0px 2px 5px var(--box-shadow-16);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.option {
  composes: button from "../../../../styles/button.css";
  border: none;
  color: var(--color-dark-grey);
  background: var(--color-white);
  padding: 15px;
  border-radius: 0;
  font-size: 16px;
  width: 100%;
  text-align: left;

  @nest &:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

.option-hovered {
  background: var(--color-pelorous);
  color: var(--color-white);
}

.enter {
  @nest &.options {
    transition: .5s all ease-in;
    max-height: 0;
  }
  @nest & .option {
    opacity: 0;
  }
}
.enter-active {
  @nest &.options {
    max-height: 550px;
  }
  @nest & .option {
    transition: .3s all .3s;
    opacity: 100;
  }
}
.leave {
  @nest &.options {
    max-height: 550px;
  }
  @nest & .option {
    opacity: 100;
  }
}
.leave-active {
  @nest &.options {
    transition: .5s all ease;
    max-height: 0;
  }
  @nest & .option {
    transition: .3s all;
    opacity: 0;
  }

}
